{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Burası Ana Sayfa</h1>
            <p>Denemeler</p>
            <p>
                <a href="/about">Hakkında</a>
            </p>
            <img src="/static/images/bitcoin.webp" height="500" with="1000" alt="">
        </div>
    </div>
</div>
{{end}}
